@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply bg-gray-900 text-white;
    font-family: 'Inter', sans-serif;
  }
}

/* تخصيص شريط التمرير */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  @apply bg-gray-900;
}

::-webkit-scrollbar-thumb {
  @apply bg-gradient-to-b from-indigo-600 to-purple-600 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply from-indigo-700 to-purple-700;
}